#top-bar-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 92vw;
  height: 7vh;
  z-index: 1;
  padding-top: 25px;
  padding-left: 15px;
}

#menu-container {
  display: flex;
  justify-content: space-between; 
  width: 28vw;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}