.search-bar-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-bottom: 5px;
  width: 25vw;
  height: 6vh;
}

#search-text {
  display: flex;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 20px;
  opacity: 0.8;
  border-radius: 40px;
  border-width: 4px;
  padding: 5px;
}